body {
  margin: 0;
  /*text-transform: capitalize;*/
}

/* start header */

.headerText {
  padding-top: 15%;
  padding-bottom: 25%;
  text-align: center;
  font-family: Arial;
  height: 80%;
}

/*#name {
  color: white;
}*/

.headerText i {
  text-align: center;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  letter-spacing: .5em;
  transition: all 0.2s ease-in-out;
}
.headerText i:hover {
  color: #f5d4b9;
  transform: scale(1.3);
}

.headerText i::before {
  width: 42px;
  height: 42px;
  /*color: white;*/
}

.contactContainer {
  text-align: center;
  padding-bottom: 2%;
}

.headerText a i {
  color: white;
  width: 37px;
}

.navbar-fixed {
  z-index: 9999;
}
/* End Header */


/* start about */
.about {
  padding-bottom: 25%;
  text-align: center;
}

#aboutT {
  padding-bottom: 2%;
}

#Sophie {
  border: 5px solid #f5d4b9;
  max-width: 400px;
  max-height: 500px;
  align-items: center;

}

#tabs-swipe-demo {
  background-color: #ffa000;
}

.tabs .tab a {
  color: #424242;
}

.tabs .tab a:hover {
  color: #ffa000;
}

.tabs .tab {
  transition: all 0.2s ease;
}

.tabs .tab:hover {
  color: #ffa000;
  background: #616161;
}

.tabs .tab a.active {
  color: #ffffff;
  background: #616161;
}

.tabs .indicator {
  background-color: #ffffff;
}

#experience, #education, #info {
  width: 100%;
  height: 100%;
}

#info {
  /*background: #616161;*/
  color: #ffa000;
}

#education {
  background: #616161;
}

#experience {
  background: #616161;
}

.card-content p {
  font-size: 1.5em;
}

/* End About */

/* start skills and tools  */
.skills {
  padding-bottom: 25%;
  background: white;
}

.skills h3 {
  text-align: center;
}

.skills i {
  font-size: 5em;
}

.col.s3 {
  padding-top: .25em;
}

/* end skills and tools */
